{% extends "layout.html" %}

{% block title %}
    {{ chardata.name }}
{% endblock %}

{% block main %}

<table>
{% for field in chardata %}
    {% if loop.index > 2 and loop.index < 13 %}
        <tr>
            <td>{{ field }}: </td>
            <td>{{ chardata[field] }}</td>
            <!-- Add modifiers -->
            {% if field|length == 3 %}
            <td>{{ [field, ' Modifier']|join }}: </td>
            <td>{{ chardata[[field, ' Mod']|join] }}</td>
            {% endif %}
        </tr>
    {% endif %}
{% endfor %}
</table>

{% endblock %}
